################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsMongoFactbook/v15
/WindowsMongoFactbook/bin/Debug
/WindowsMongoFactbook/obj/Debug
/packages
